<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PLUG Mail</title>
    <style>
        /* Reset CSS */
        body, h1, p {
            margin: 0;
            padding: 0;
        }

        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
        }

        .container {
            max-width: 600px;
            margin: 20px auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .header {
            text-align: center;
            margin-bottom: 20px;
        }

        .header img {
            max-width: 200px;
            height: auto;
        }

        .body {
            padding: 20px;
        }

        .footer {
            text-align: center;
            margin-top: 20px;
            color: #888;
            font-size: 14px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="header">
            <img src="https://res.cloudinary.com/del59phog/image/upload/v1711443004/uaknukpludcrczuqoi25.jpg" alt="PLUG Logo">
        </div>
        <div class="body">
            <h1><%= title %>,</h1>
            <p>
    Here is your resetLink <%= resetLink %>
            </p>
        </div>
        <div class="footer">
            <p>&copy; 2024 PLUG. All rights reserved.</p>
        </div>
    </div>
</body>
</html>
